main {
    margin: 20px;
    border: 3px solid lightgrey;
    padding: 20px;
    background-color: rgb(31, 37, 59);
    color: white;
}

input:not(#output) {
    margin: 10px 5px;
}

#output {
    margin: 5px;
    background-color: rgb(113, 147, 138);
    width: 100%;
}

#errorMsg {
    margin: 0;
    color: red;
}

.flex {
    display: flex;
    justify-content: space-between;
}

#buttons {
    display: flex;
    flex-direction: column;
}

#buttons button {
    background-color: lightblue;
    border: 2px ridge steelblue;
    border-radius: 8px;
}